.item {
    cursor: pointer;
}

.contTitle {
    height: 50px;
    background-color:#dc0000;
    vertical-align: middle;
    padding: 5px !important;
    display: flex;
    /* text-align: center; */
}

.headi {
    color: white;
    padding: 8px;
}

.logo {
    background-image: url("../assets/pngwing.com.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    width: 100px;
    /* margin: 0px; */
    /* top: 10px; */
    height: 40px;
    background-size: contain;
}